<ion-split-pane when="md" contentId="main-content">
  <ion-menu menuId="admin-menu" contentId="main-content">
    <ion-header class="ion-no-border">
      <ion-toolbar class="ion-no-border">
        <div class="custom-title">
          <img src="./../../../assets/img/logo-black.svg" alt="Logo XJobs" width="250">
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list class="menu" lines="none">
        <ng-container *ngFor="let route of routes">

          <!-- Dashboard -->
          <ion-item
            *ngIf="route.children"
            button
            (click)="toggleDashboard()"
            [routerLink]="[route.route]"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">
            <ion-icon slot="start" [name]="route.icon"></ion-icon>
            <ion-label>{{ route.title }}</ion-label>
            <ion-icon
              slot="end"
              [name]="showDashboardSub ? 'chevron-up' : 'chevron-down'">
            </ion-icon>
          </ion-item>

          <!-- Sub‐items -->
          <ng-container *ngIf="route.children && showDashboardSub">
            <ion-menu-toggle *ngFor="let child of route.children" [autoHide]="false">
              <ion-item
                button
                [routerLink]="[child.route]"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: false }"
                style="--padding-start:32px">
                <ion-icon slot="start" [name]="child.icon"></ion-icon>
                <ion-label>{{ child.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ng-container>

          <!-- Otras rutas -->
          <ion-menu-toggle *ngIf="!route.children" [autoHide]="false">
            <ion-item
              button
              [routerLink]="[route.route]"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: false }">
              <ion-icon slot="start" [name]="route.icon"></ion-icon>
              <ion-label>{{ route.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ng-container>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Aquí se monta tu contenido hija (Dashboard, Modelado3D, etc.) -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
  <admin-toolbar></admin-toolbar>
</ion-split-pane>
